body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

#recipeGrid {
    max-width: 1200px;
    margin: 0 auto;
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.recipe-container {
    display: grid;
    height: 100px;
    overflow: scroll;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.recipe-item {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.recipe-item:hover {
    transform: translateY(-5px);
}

.recipe-item img {
    max-width: 100%;
    border-radius: 5px;
}

.recipe-details {
    padding: 10px;
}

footer {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
