<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Rater</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Recipe Rater</h1>
    </header>
    <main>
        <section id="recipeGrid">
            <h2>Recipe List</h2>
            <!-- Search bar -->
            <input type="text" id="searchInput" placeholder="Search recipes...">
            <!-- Search results -->
            <div id="searchResults" class="recipe-container">
                <!-- Search results will be inserted here -->
            </div>
            <div class="container">
                {% for recipe in recipes %}
                <a href="{{ url_for('get_recipe_by_id', recipe_id=recipe._id) }}">
                    <div class="recipe-item">
                        <img src="{{ recipe.thumbnail }}" alt="{{ recipe.recipeName }}">
                        <div class="recipe-details">
                            <h3>{{ recipe.recipeName }}</h3>
                            <p>Category: {{ recipe.category }}</p>
                            <p>Country of Origin: {{ recipe.area }}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; {{ current_year }} Recipe Rater</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</body>
</html>
